<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ParkBackend | User Authentication</title>
</head>
<body>
<header>
    <h1>ParkBackend | User Authentication</h1>
</header>
<table>
    <tr>
        <td><a href="/">/</a></td>
        <td><a href="/auth">/auth</a></td>
        <td><a href="/v1/logout">/auth/logout</a></td>
        <td><a href="/vehicle">/vehicle</a></td>
        <td><a href="/log">/log</a></td>
    </tr>
</table>
<form action="/v1/login/" method="post">
    <fieldset>
        <legend>Login</legend>
        <label for="login-ph">Mobile Number - </label><input type="tel" id="login-ph" name="mobileNumber" required><br/><br/>
        <label for="login-password">Password - </label><input type="password" id="login-password" name="password" required><br/><br/>
        <input type="submit" value="Login">
    </fieldset>

</form>
<form action="/v1/register/" method="post">
    <fieldset>
        <legend>Register</legend>
        <label for="register-name">Name - </label><input id="register-name" name="name" required><br/><br/>
        <label for="register-ph">Mobile number - </label><input type="tel" id="register-ph" name="mobileNumber" required><br/><br/>
        <label for="register-password">Password - </label><input type="password" id="register-password" name="password" required><br/><br/>
        <input type="submit" value="Register">
    </fieldset>

</form>
</body>
</html>